*
# firmware_development additions first: master changes the end of this file
!api
!api/**
!daemon
!daemon/**
!demo
!demo/**
!user-guide
!user-guide/**
!release
!release/**
!docs
!.gitignore
!trunk
!CLAUDE.md
!driver
!driver/**
!renode
!renode/**
!webserver
!webserver/**
!.github
!.github/**
!assets
!assets/**
